@use "../abstract/_variables.scss" as *;

section.about {
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 4rem);

    .about-grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
        width: 100%;
        padding: 1.25rem;
        gap: 1.25rem;
        border-radius: 1.25rem;
        margin-top: 1rem;

        background-color: $background2;
        
        .about-left {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
}