@use "../abstract" as *;

main {
    display: flex;
    flex-direction: row;

    padding: 0rem 3rem;
    padding-left: 30%;
    overflow-x: hidden;

    @media (max-width: 1360px) {
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem;
    }
    
    @media (max-width: 640px) {   
        padding: 0 0.5rem;
    }
}

.gradient {
    position: fixed;
    top: 0;
    right: 0;

    width: 80vw;
    height: 100vh;
    z-index: 9;

    background: linear-gradient(
        to right,
        transparent,
        color(background1)
    );
    mix-blend-mode: lighten;
    pointer-events: none;

    @media (max-width: 1360px) {
        display: none;
    }
}

.about-card {
    p {
        background-color: color(background3);
        padding: .35rem .5rem;
        border-radius: .5rem;
    }
}