@use "../abstract/_variables.scss" as *;

// Muda a cor da seleção de texto
::selection {
  color: $background2;
  background: $accent1;
}
::-moz-selection {
  color: $background2;
  background: $accent1;
}
::-webkit-selection {
  color: $background2;
  background: $accent1;
}

html, body {
  background-color: $background1;
  color: $text1;
  font-weight: 450;
  scroll-behavior: smooth !important;
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 1.8rem;
  font-weight: 550;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}