@use "../abstract" as *;

article {
    display: flex;
    flex-direction: column;
    z-index: 10;

    width: 100%;
    padding: 2rem;
    gap: 1.5rem;

    @media (max-width: 1360px) {
        width: unset;
        padding: .5rem 2rem;
    }

    @media (max-width: 640px) {
        padding: .5rem 0;
    }
}

.article-card {
    display: flex;
    flex-direction: column;

    background-color: color(background2);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid color(text1);
    box-shadow: shadow(card1);

    hgroup {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
            margin-top: -0.25rem;
        }
    }

    @media (max-width: 640px) {
        box-shadow: shadow(card2);
        padding: .75rem;
    }

    &:nth-child(5n-4) {
        --delay: .15s;
    }
    &:nth-child(5n-3) {
        --delay: .20s;
    }
    &:nth-child(5n-2) {
        --delay: .25s;
    }
    &:nth-child(5n-1) {
        --delay: .30s;
    }
    &:nth-child(5n) {
        --delay: .35s;
    }

    @media (prefers-reduced-motion: no-preference) {
        animation: card-fade-in .25s var(--delay) 1 ease-out;
        animation-fill-mode: backwards;
    }
}

#copyright {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: .85rem;
}

@keyframes card-fade-in {
    0% {
        translate: 10rem 0;
        opacity: 0;
    }
    70% {
        translate: -1rem 0;
        opacity: 1;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}