@use "../abstract" as *;

.contact-list {
    display: flex;
    flex-direction: column;
    margin-top: .25rem;
    gap: .15rem;
    width: fit-content;

    a {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;

        transition: padding-left 0.15s ease-out;

        svg {
            width: 20px;
        }

        &:hover {
            padding-left: .75rem;
        }
    }
}