@use "../abstract/_variables.scss" as *;

.landing {

    display: flex;
    align-items: end;
    height: 100dvh;

    .landing-inner {
        position: relative;

        display: flex;
        flex-direction: column;
        width: 100%;
        height: min(100%, calc(var(--height) * (1 - var(--modifier))));
        justify-content: center;
        align-items: start;
        gap: 1rem;
        overflow: hidden;

        opacity: calc(1 - var(--modifier));
        pointer-events: var(--pointer-events);
    }

    img {
        position: absolute;
        height: 160dvh;
        left: 24dvw;
        transform-origin: center;
        // transform: rotate(-10deg) translateY(20px);

        pointer-events: none;
        // transform: var(--pic-transform);
    }

    hgroup {
        display: inherit;
        flex-direction: inherit;
        justify-content: center;
        align-items: center;
        margin-left: 10dvw;
        gap: 0.85rem;

        transform: var(--name-transform);
        filter: brightness(calc(1 - var(--modifier))) invert(var(--modifier));
    }

    div.title {
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
        gap: 0.25rem;

        h1, h2 {
            margin: unset;
        }
    }

    div.socials {
        display: flex;
        border-top: 2px solid $text2;
        padding: 1rem 1.25rem 0;

        transform: var(--pic-transform);
        
        a {
            display: block;
            cursor: pointer;
            transition: transform 0.2s ease-in;
            padding: 0 0.25rem;

            &:hover {
                transform: translate(0, -5px);
            }
        }

        svg {
            color: $text1;
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}