@use "../abstract" as *;

aside {
    --padding: 5vh;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

    width: 100%;
    height: calc(100dvh - var(--padding) * 2);
    padding: var(--padding) 0;
    gap: 1rem;

    transition: height 0.3s ease;

    hgroup h1 {
        margin-bottom: 0.25rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;

        gap: 0.5rem;
        justify-content: center;
    }    

    @media (max-width: 1360px) {
        position: relative;
        hgroup, nav {
            margin-left: 50%;
        }
    }

    @media (max-width: 640px) {
        hgroup, nav {
            margin-left: unset;
        }

        nav button {
            font-size: 0.8rem;
            svg {
                width: 18px;
            }
        }
    }
}

svg#hero {
    position: absolute;
    width: 65vw;

    left: -1rem;
    top: -20vh;
    z-index: -1;
    pointer-events: none;

    #avatar {
        transform-origin: bottom;
        @media (prefers-reduced-motion: no-preference) {
            animation: hero-avatar-breath 6s 0s infinite;
        }
    }

    #balloons-top > path {
        transform-origin: left;
        @media (prefers-reduced-motion: no-preference) {
            animation: hero-balloons 6s var(--delay) infinite;
        }

        &:nth-child(4n-2) {
            --delay: 0s;
        }
        &:nth-child(4n-1) {
            --delay: 1s;
        }
        &:nth-child(4n) {
            --delay: 2s;
        }
        &:nth-child(4n+1) {
            --delay: 3s;
        }
    }

    #balloons-top-shine {
        display: none;
    }

    @media (max-width: 1360px) {
        width: 120vw;
        left: -10vw;
    }

    @media (max-width: 640px) {
        width: 40rem;

        left: 0;
        top: -10vh;

        #balloons-top {
            translate: -35rem 10rem;
            rotate: -30deg;
            scale: 1.3;
        }
    }
}

@keyframes hero-avatar-breath {
    0% {
        transform: skew(1deg, 0);
        scale: 1;
    }
    25% {
        scale: 1 0.98;
    }
    50% {
        transform: skew(-1deg, 0);
        scale: 1;
    }
    75% {
        scale: 1 0.98;
    }
    100% {
        transform: skew(1deg, 0);
        scale: 1;
    }
}

@keyframes hero-balloons {
    0% {
        transform: rotate(0deg);
    }    
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}