@use "../abstract" as *;

aside {
    --padding: 5rem;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

    height: calc(100dvh - var(--padding) * 2);
    padding: var(--padding) 0;
    gap: 1rem;

    transition: height 0.3s ease;

    hgroup h1 {
        margin-bottom: 0.25rem;
    }

    nav {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    @media (max-width: 1360px) {
        position: static;
    }
}