@use "../abstract/_variables.scss" as *;

main {
    display: flex;
    flex-direction: column;
    align-items: start;

    overflow-y: scroll;
    scroll-snap-align: start;
    gap: 2rem;
    height: 100vh;

    padding-top: 5rem;
}