@use "../abstract/_variables.scss" as *;

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    color: $text3;

    display: flex;
    height: var(--height);
    justify-content: end;
    align-items: center;

    .icon {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        text-align: right;

        background-color: $accent2;
        height: inherit;
        gap: 2rem;
        padding: 0 2.5rem;

        li:not(.icons) {
            cursor: pointer;
        }
        li.icons {
            height: 100%;
            display: flex;
            
            button {
                height: var(--height);
                width: var(--height);
                padding: 0.8rem;
                color: inherit;
                z-index: 60;
                
                svg {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .icon {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;

            height: var(--height);
            width: var(--height);
            padding: 0.8rem;
            color: inherit;

            &.open {
                @media (prefers-reduced-motion: no-preference) {
                    &.animate {
                        animation: rotate-right 0.5s forwards 1;
                    }
                }
                .close-icon {
                    opacity: 1;
                }
                .menu-icon {
                    opacity: 0;
                }
            }
            &:not(.open) {
                @media (prefers-reduced-motion: no-preference) {
                    &.animate {
                        animation: rotate-left 0.5s forwards 1;
                    }
                }
                .close-icon {
                    opacity: 0;
                }
                .menu-icon {
                    opacity: 1;
                }
            }
            svg {
                grid-row-start: 1;
                grid-column-start: 1;

                height: 100%;
                width: 100%;
                transition: opacity 0.2s ease;
            }
        }

        ul {
            display: none;
            position: fixed;
            top: 60px;

            flex-direction: column;
            justify-content: start;
            align-items: end;
            height: auto;

            margin-top: -0.1rem;
            gap: 1.75rem;
            padding: 0;

            li:not(.icons) {
                width: 100%;
                padding: 0 0.5rem;
            }
            li.icons {
                height: unset;
            }
        }
        ul.open {
            display: flex;
        }
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes rotate-right {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}