@use "../abstract/_variables.scss" as *;

ul.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--card-width, 300px), 100%), 1fr));
    grid-auto-rows: 10px;
    justify-content: center;
    gap: 0 1rem;

    width: 100%;
    margin-top: 0.5rem;

    transition: all 0.2s ease;

    li:not(.tag) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: $background2;
        margin-bottom: 1rem;
        border-radius: 1rem;

        height: fit-content;

        transition: opacity 0.2s ease, transform 0.2s ease;

        h2, p {
            margin: 0;
            width: 100%;
        }

        p {
            color: $text4;
        }

        img {
            width: calc(100% + 2rem);
            margin: 0.65rem 0;
        }        
    }

    li.resized {
        height: unset;
        grid-row: span var(--card-height, 50);
    }

    li.hidden {
        position: absolute;
        opacity: 0;
        transform: translateY(-30%);
        pointer-events: none;
    }
}

ul.card-tags {
    display: block;
    margin-bottom: 0.25rem;
    width: 100%;
    
    li.tag {
        display: inline-block;
        font-size: 0.75rem;
        color: $text4;

        &:not(:last-child)::after {
            display: inline;
            content: '·';
            padding: 0 0.5rem;
        }

        &.selected {
            color: $accent1;
            font-weight: 700;
        }
    }
}

div.actions-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 0.5rem;
    width: 100%;
    margin-top: 0.75rem;

    a {
        display: flex;
        align-items: center;
        cursor: pointer;
        transform-origin: center;
        white-space: nowrap;
        gap: 0.25rem;
        color: $text1;

        font-size: 0.9rem;
        text-decoration: none;
        padding: 0.4rem 0.8rem;
        // border: 2px solid $text2;
        border-radius: 25px;
        box-shadow:
            0px 2px 5px 0px #b1def5,
            0px 0px 5px 0px #c4dae5;

        transition: all 0.15s ease;

        svg {
            height: 100%;
            width: auto;
        }

        &:hover {
            transform: scale(110%);
        }

        &:active {
            transform: scale(90%);
        }
    }
}