@use "../abstract" as *;

.projects-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    margin-top: .75rem;
    gap: .5rem;

    @media (max-width: 640px) {
        gap: .75rem;
    }
}

.projects-modal-list {
    --card-width: 270px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--card-width), 100%), 1fr));
    padding: .5rem;
    gap: .75rem;

    height: calc(100% - 1rem);
    overflow: auto;
    
    &.active {
        animation: projects-list-fade-in 0.3s 0s ease 1;
    }

    &:not(.active) {
        animation: projects-list-fade-out 0.3s 0s ease 1;
        display: none;
    }
}

@keyframes projects-list-fade-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        display: grid;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        display: grid;
    }
}
@keyframes projects-list-fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
        display: grid;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        display: grid;
    }
}