@use "../abstract/_variables.scss" as *;

div.square-list {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background2;

    padding: 1rem;
    width: 200px;
    height: 200px;

    border-radius: 1rem;

    h3 {
        margin-top: -0.1rem;
    }

    p {
        color: $text2;
        font-size: 0.85rem;
        margin-top: -0.05rem;
    }

    div:has(ul) {
        height: 100%;
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        height: fit-content;
        gap: 0 1.5rem;
        font-size: 0.85rem;

        justify-content: center;
        align-items: center;

        span {
            color: $text2;
            margin: 0 0.5rem;
        }

        li {
            margin: 0.4rem 0;
        }
    }

}