@use "sass:map";

$colors: (
    background1: #DCEBF3,
    background2: #EFF5F8,
    background_semi: #dcebf3ca,
    text1: #51607E,
    text2: #97AAD0,
    text3: #FFFFFF,
    text4: #798bab,
    accent1: #f87f97,
    accent2: #fca6b6,
    modal1: #dcebf395,
    selection: rgba(248, 127, 145, 0.5)
);

@function color($key) {
    @return map.get($colors, $key);
}

$shadow: (
    card1: 5px 5px 0px 0px color(text1),
    card2: 0px 5px 0px 0px color(text1),
    button1: 0px 2px 0px 0px color(text1),
    button2: 0px 0px 0px 0px color(text1),
    button3: 2px 2px 3px 0px color(text2)
);

@function shadow($key) {
    @return map.get($shadow, $key);
}