@use './globals' as *;

// Importar fontes do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

// Configuração de fonte
:root {
  font-family: "Outfit", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.15rem;
  line-height: 1.35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  width: 100vw;
  overflow: none;
}

.playwrite {
  font-family: "Playwrite US Trad", cursive, sans-serif;
}

::selection {
  color: color(text3);
  background: color(selection);
}
::-moz-selection {
  color: color(text3);
  background: color(selection);
}
::-webkit-selection {
  color: color(text3);
  background: color(selection);
}

body.firefox * {
  scrollbar-width: thin;
  scrollbar-color: color(text2) transparent;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: color(text2);
  border-radius: 4px;
  transition: background-color 0.3s;
}