//HEX COLORS
$background1: #DCEBF3;
$background2: #EFF5F8;
$text1: #51607E;
$text2: #97AAD0;
$text3: #FFFFFF;
$text4: #798bab;
$accent1: #F87FAB;
$accent2: #fCA6C5;

//PROPERTIES
$selection: rgba(248, 127, 171, 0.5);
$card-shadow: 2px 2px 10px $accent2,
            -5px -5px 10px rgba(255,255,255,0.1);