<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Coelho | Portfólio</title>

    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div id="landing">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At sunt qui exercitationem voluptatibus consequatur cum, atque fugiat eligendi fuga nam modi veniam, aspernatur blanditiis in asperiores. Commodi nulla impedit est?</p>
    </div>
    <div id="main">
        <div id="about">

            <h1>Sobre</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At sunt qui exercitationem voluptatibus consequatur cum, atque fugiat eligendi fuga nam modi veniam, aspernatur blanditiis in asperiores. Commodi nulla impedit est?</p>
        
        </div>
        <div id="art">

            <h1>Arte</h1>
            <ul id="art-gallery">
                <script src="../scripts/feed-gallery.js"></script>
            </ul>

        </div>
        <div id="code">

            <h1>Código</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At sunt qui exercitationem voluptatibus consequatur cum, atque fugiat eligendi fuga nam modi veniam, aspernatur blanditiis in asperiores. Commodi nulla impedit est?</p>
        
        </div>
        <div id="projects">

            <h1>Projetos</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At sunt qui exercitationem voluptatibus consequatur cum, atque fugiat eligendi fuga nam modi veniam, aspernatur blanditiis in asperiores. Commodi nulla impedit est?</p>
        
        </div>
    </div>
    <div id="footer">

        <h1>Obrigado</h1>

    </div>
</body>

</html>