@import "./_variables.scss";

body {
  background-color: $background1;
  color: $text1;
  font-weight: 450;
}

h1 {
  font-size: 1.8rem;
  font-weight: 550;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}