/* Commons */
@import url("./reset.css");

:root {
    --canvas: #F4DDC7;
    --text: #38475B;
    --accent: #FF0000;
    --shadow: #38475B;
    --highlight: #FFFFFF;
}

@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--canvas);
    font-family: 'Lexend', sans-serif !important;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
}

h1 {
    color: var(--accent);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: regular;
}

/* Landing cover */
#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap:1rem;

    background-image: url("../assets/img/art/halloween2020.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-height: 768px) {
    #landing {
        background-position: -200px center;
    }
}

/* Art gallery */
#art-gallery {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    overflow-x: scroll;
}

#art-gallery li {

}

#art-gallery img {
    object-fit: cover;
    height: 300px;
    width: 300px;
}

#art-gallery img:hover {
    transform: translate(-10px, -10px); 
}

#footer {
    background-color: var(--shadow);
    padding: 0.5rem;
    height: 20vh;
}

#footer h1 {
    color: var(--canvas);
}